/*This is the main style sheet where base styles are set */



/******Theme Colors ********/
/*Brown #594F4F*/
.background {
	background-color: #594F4F;
	}
/*Blue #547980*/
.foreground {
	background-color: #45ADA8;
}
.primaryText {
	color: #547980;
}
.secondaryText {
	color: #9DE0AD;
}

.contentText {
	color: white;
}

.secondaryBackground {
	background-color: #9DE0AD;
}

.highlightText {
	color: #E5FCC2;
}

.lowlightText {
	color: #594F4F;
}
/*GreenBlue #45ADA8*/
/*PastelGreen #9DE0AD*/
/*YellowGreen #E5FCC2*/


.textCenter {
	text-align: center;
}

.loading {
	height: 20px;
}

#logo {
	font-size: xx-large;
	font-style: bold;
}





/*modal stuff*/

.cd-user-modal {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0.3s;
}

.cd-user-modal.is-visible {
  visibility: visible;
  opacity: 1;
}
